<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doojie.dao.TradeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.doojie.domain.po.TradeRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="trade_code" property="tradeCode" jdbcType="VARCHAR" />
    <result column="user_product_id" property="userProductId" jdbcType="INTEGER" />
    <result column="pay_time" property="payTime" jdbcType="INTEGER" />
    <result column="pay_mode" property="payMode" jdbcType="INTEGER" />
    <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="payDate" property="payDate" jdbcType="VARCHAR" />
  </resultMap>
   <resultMap id="BaseResultTradeRecordVoMap" type="com.doojie.domain.vo.TradeRecordVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="trade_code" property="tradeCode" jdbcType="VARCHAR" />
    <result column="user_product_id" property="userProductId" jdbcType="INTEGER" />
    <result column="pay_time" property="payTime" jdbcType="INTEGER" />
    <result column="pay_mode" property="payMode" jdbcType="INTEGER" />
    <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="payDate" property="payDate" jdbcType="VARCHAR" />
    <association column="{userId=user_id,userProductId=user_product_id}"  property="userCardVo"
   javaType="com.doojie.domain.vo.UserCardVo"  select="com.doojie.dao.UserProductMapper.getUserCardVo" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, trade_code, user_product_id, pay_time, pay_mode, serial_number, create_time, remark, 
    user_id,money
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />,FROM_UNIXTIME(pay_time,'%Y-%m-%d %H:%i:%S') payDate
    from doojie_trade_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from doojie_trade_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.doojie.domain.po.TradeRecord" useGeneratedKeys="true" keyProperty="id">
    insert into doojie_trade_record (id, trade_code, user_product_id, 
      pay_time, pay_mode, serial_number, 
      create_time, remark, user_id,money
      )
    values (#{id,jdbcType=INTEGER}, #{tradeCode,jdbcType=VARCHAR}, #{userProductId,jdbcType=INTEGER}, 
      #{payTime,jdbcType=INTEGER}, #{payMode,jdbcType=INTEGER}, #{serialNumber,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},#{money,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.doojie.domain.po.TradeRecord" useGeneratedKeys="true" keyProperty="id">
    insert into doojie_trade_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tradeCode != null" >
        trade_code,
      </if>
      <if test="userProductId != null" >
        user_product_id,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="payMode != null" >
        pay_mode,
      </if>
      <if test="serialNumber != null" >
        serial_number,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="money != null" >
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tradeCode != null" >
        #{tradeCode,jdbcType=VARCHAR},
      </if>
      <if test="userProductId != null" >
        #{userProductId,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=INTEGER},
      </if>
      <if test="payMode != null" >
        #{payMode,jdbcType=INTEGER},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.doojie.domain.po.TradeRecord" >
    update doojie_trade_record
    <set >
      <if test="tradeCode != null" >
        trade_code = #{tradeCode,jdbcType=VARCHAR},
      </if>
      <if test="userProductId != null" >
        user_product_id = #{userProductId,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=INTEGER},
      </if>
      <if test="payMode != null" >
        pay_mode = #{payMode,jdbcType=INTEGER},
      </if>
      <if test="serialNumber != null" >
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doojie.domain.po.TradeRecord" >
    update doojie_trade_record
    set trade_code = #{tradeCode,jdbcType=VARCHAR},
      user_product_id = #{userProductId,jdbcType=INTEGER},
      pay_time = #{payTime,jdbcType=INTEGER},
      pay_mode = #{payMode,jdbcType=INTEGER},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      money = #{money,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据用户id和购买商品id查询记录 -->
  <select id="selectByUserIdAndUserProductId" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/>,FROM_UNIXTIME(pay_time,'%Y-%m-%d %H:%i:%S') payDate from doojie_trade_record 
  	where user_id = #{userId,jdbcType=INTEGER} and user_product_id = #{userProductId,jdbcType=INTEGER}
  </select>
  
  <!-- 根据用户id和购买商品id查询记录 -->
  <select id="selectByUserId" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/>,FROM_UNIXTIME(pay_time,'%Y-%m-%d %H:%i:%S') payDate from doojie_trade_record 
  	where user_id = #{userId,jdbcType=INTEGER} order by create_time DESC
  </select>
  
  <!-- 根据用户id查询交易记录及详情-->
  <select id="selectTradeRecordVoByUserIdAndTradeRecordId" resultMap="BaseResultTradeRecordVoMap">
  	select <include refid="Base_Column_List"/>,FROM_UNIXTIME(pay_time,'%Y-%m-%d %H:%i:%S') payDate from doojie_trade_record 
  	where user_id = #{userId,jdbcType=INTEGER} and id = #{tradeRecordId,jdbcType=INTEGER} 
  </select>
  
   <select id="selectTradeRecoredNextId" resultType="java.lang.Integer">
  	SELECT AUTO_INCREMENT FROM information_schema.`TABLES` WHERE TABLE_SCHEMA='doojie_db' AND TABLE_NAME='doojie_trade_record' FOR UPDATE
  </select>
  
  <select id="selectByTradeCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />,FROM_UNIXTIME(pay_time,'%Y-%m-%d %H:%i:%S') payDate
    from doojie_trade_record
    where trade_code = #{tradeCode,jdbcType=VARCHAR}
  </select>
</mapper>