<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doojie.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.doojie.domain.po.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="weixin_number" property="weixinNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mobile, email, password, create_time, source, weixin_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from doojie_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from doojie_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.doojie.domain.po.User" useGeneratedKeys="true" keyProperty="id">
    insert into doojie_user (id, mobile, email, 
      password, create_time, source, 
      weixin_number)
    values (#{id,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, #{source,jdbcType=INTEGER}, 
      #{weixinNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.doojie.domain.po.User" useGeneratedKeys="true" keyProperty="id">
    insert into doojie_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="weixinNumber != null" >
        weixin_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=INTEGER},
      </if>
      <if test="weixinNumber != null" >
        #{weixinNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.doojie.domain.po.User" >
    update doojie_user
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="weixinNumber != null" >
        weixin_number = #{weixinNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doojie.domain.po.User" >
    update doojie_user
    set mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      source = #{source,jdbcType=INTEGER},
      weixin_number = #{weixinNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 查询全部用户 -->
  <select id="selectUserAllPageList"  resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    from doojie_user
  </select>
  
   <!-- 根据openId查询用户 -->
  <select id="selectUserByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
    <include refid="Base_Column_List" />
    from doojie_user
    where weixin_number = #{openId,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据手机号查询用户 -->
  <select id="selectUserByMobile" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
    <include refid="Base_Column_List" />
    from doojie_user
    where mobile = #{mobile,jdbcType=VARCHAR}
  </select>
  <!-- 添加意见 -->
  <insert id="insertSuggest"  useGeneratedKeys="true" keyProperty="id">
    insert into doojie_suggest (id, content,create_time, 
      user_id)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <!-- 查询意见 -->
  <select id="selectSuggestPageList" resultType="map">
  	SELECT u.mobile mobile,s.`content` content,s.`create_time` createTime FROM doojie_suggest s INNER JOIN doojie_user u ON s.user_id = u.id ORDER BY s.create_time DESC
  </select>
</mapper>